 <div class="container">

    <div class="card red-light" >
      <img class="card-img-top photoEl" alt="car photo">
      <div class="card-body">
        <h5 class="card-title carName">Card title</h5>
        <ul>
          <li class="brandEl">Brand</li>
          <li class="motorEl">Motor</li>
          <li class="hpEl">Horsepower</li>
          <li class="tqEl">torque</li>
          <li class="cylEl">cylinders</li>
          <li class="mpgEl">MPG</li>
          <li class="originEl">Origin</li>
          <li class="msrpEl">MSRP</li>
        </ul>
      </div>
    </div>

    <div class="container2">
    <iframe class="videoUrl"></iframe>

    <div class="card card2" >
      <div class="card-body">
        <h5 class="card-title carTitle"></h5>
        <p class="card-text carInfo"></p>

      </div>
    </div>
</div>

  </div>